header {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    background: url(../image/limon.svg);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10.5em;
}
.navbar__list {
    display: flex;
    gap: 4.7rem;
}
.navbar__link {
    font-weight: 600;
    font-size: 1.8rem;
    color:#fff; 
}
.navbar__btn{
    padding: 1.6rem  3.1rem;
    background: #fff;
    color: #24303E;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 2.8rem;
    &:hover{
        background: #78cef5;
        color: #fff;
    }
}


.header__btn{
    display: none;
    border: none;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: transparent;
}

        // BURGER QISMINI QILOLMADIM
// .header__hidden{
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     background: #fff;
//     width: 100%;
//     height: 100%;
//     display: grid;
//     place-items: center;
//     text-align: center;
//     transition: all 0.3s;
//     transform: translateX(100%);
//     ul {
//         flex-direction: column;
//     }
// .navbar__linkk {
//     font-weight: 600;
//     font-size: 1.8rem;
//     color:#24303E; 
// }
// .navbar__btnn{
//     padding: 1.6rem  3.1rem;
//     background: #FBD600;
//     color: #24303E;
//     font-weight: 700;
//     font-size: 1.5rem;
//     border-radius: 2.8rem;
// }
// }


// .header__hidden.show {
//     transform: translateX(0%);
// }

.hero{
    h1{
        text-align: center;
        font-weight: 900;
        font-size: 5.6rem;
        color: #fff;
        margin-bottom: 10rem;
    }
    img{
        margin-bottom: 31rem;
        margin-left: 45%;
    }
}


@media screen and (max-width: 768px) {
    .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.navbar__content{
    display: none;
}
.header__btn{
    display: block;
}
}

@media screen and (max-width:450px) {
    header {
    background: url(../image/limon-2.svg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
}
    .hero{
        h1{
            font-size: 4rem;
            margin-bottom: 5rem;
        }
        img{
            margin-bottom: 13.5rem;
        }
    }
}